@charset "UTF-8";
body {
    background-color: aqua;
    font-family: 'Poppins', sans-serif;
}

/* start of desktop styles */

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    #section{
        width:100%;
    }
    img{
        width:100%;
    }
    
    }
    
    @media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    nav{
        width:100%;
    }
    aside{
        width:100%;
    }
    section{
        width:100%;
    }

    }
    
    @media screen and (max-width: 479px) {
    /* start of phone styles */
      #section{
      width:320px;
  }

    }

    .box {
        width: 200px;
        height: 200px;
        background-color: white;
        margin: 15px;
        float: right;
        transition-duration:500ms;
    }

    nav{
        margin:10px;
        padding:10px;
        width: 290px;
        height:400px;
        background-color: white;
        float: left;
      }

      /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


    section{
        margin:10px;
        padding:10px;
        width:590px;
        height:400px;
        background-color:#9dffd9;
        float: right;
      }
.box:hover {
    background:#9dffd9;
    transition-duration:1000ms;
    animation-play-state: paused;
}
.hoverd:hover {
    transform: rotate(30deg);
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1)
}
.hoverdd:hover {
    transition-timing-function: ease-in;
    opacity: 50;
}
@keyframes hoverdd {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }